.swiper-custom-bullet {
    height: 20px;
    width: 20px;
    background-color: white;
  }
  
  .swiper-custom-bullet.swiper-custom-bullet-active {
    height: 20px;
    width: 20px;
    background-color: orange;
  }
